<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="utf-8">
    <title>Form type style Guide</title>
    <link rel="stylesheet" href="css/guide.css"/>
    <link type="text/css" rel="stylesheet" href="css/shCore.css"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->
    <script src="./js/jquery-1.10.2.min.js"></script>
    <script src="./js/guide.js"></script>
    <script src="./js/shCore.js"></script>
    <script src="./js/shBrushJScript.js"></script>
    <script src="./js/shBrushCss.js"></script>
    <script src="./js/shBrushXml.js"></script>
</head>
<body>
<a href="#wrap" class="skip">≫ &nbsp; 메뉴 건너 뛰기</a>
<header>
    <div id="header">
        <hgroup>
            <h1><span class="gd-bar"></span>Form Type</h1>
            <h2>Publishing</h2>
        </hgroup>
    </div>
</header>

<div id="wrap">
    <section>
        <h3>Guide Tab</h3>

        <p class="listBtnArea"><a href="./IA.html" class="on">Impormation Architeture</a></p>
    </section>
    <hr/>

    <section class="guide-wrap">
        <article>
            <div class="guide-tap">
                <ul>
                    <li><a href="layout.html"><span>Layout Structure</span></a></li>
                    <li><a href="title_font_type.html" class=""><span>Title & Font Type</span></a></li>
                    <li><a href="tab_type.html" class=""><span>Tab Type</span></a></li>
                    <li><a href="button_type.html" class=""><span>Button Type</span></a></li>
                    <li><a href="list_type.html" class=""><span>List type</span></a></li>
                    <li><a href="table_type.html" class=""><span>Table Type</span></a></li>
                    <li><a href="#" class=""><span>View Type</span></a></li>
                    <li><a href="form_type.html" class="on"><span>Form Type</span></a></li>
                    <li><a href="popup_type.html" class=""><span>Pop-up Type</span></a></li>
                    <li><a href="#" class=""><span>Scroll Type</span></a></li>
                    <li><a href="#" class=""><span>IR Type</span></a></li>
                </ul>
            </div>
            <div class="guide-contents">
                <div class="guide-type">
                    <h2 class="guide_tit">Radio type</h2>

                    <div class="description">
                        <ul>
                            <li>라디오 버튼은 기본 스타일과 커스텀 디자인된 스타일 2가지를 제공한다.</li>
                            <li>디폴트 라디오 버튼의 공백은 &nbsp;로 정의한다.</li>
                        </ul>
                    </div>
                    <div class="mb20">
                        <p class="sub-tit"><span>@ Radio type Preview</span></p>
                        <div class="preview">
                            <table class="guide_tb">
                                <colgroup>
                                    <col style="width:50%">
                                    <col style="width:50%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Default Radio type</th>
                                        <th>Custom Radio type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="radio" id="sns01" name="sms" value="0" title="예" checked="checked">
                                            <label for="sns01">&nbsp;예</label>&nbsp;&nbsp;&nbsp;
                                            <input type="radio" id="sns02" name="sms" value="0" title="아니오" >
                                            <label for="sns02">&nbsp;아니오</label>
                                        </td>
                                        <td>
                                            <div class="ctm-radio checked">
                                                <input type="radio" id="sms01" name="smsYN" value="0" title="예" checked="checked">
                                                <label for="sms01"><i></i>예</label>
                                            </div>
                                            <div class="ctm-radio">
                                                <input type="radio" id="sms02" name="smsYN" value="0" title="아니오" >
                                                <label for="sms02"><i></i>아니오</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p class="sub-tit"><span>@ HTML CODE</span></p>
                    <pre class="brush: html">
                         <!-- (s)default radio code -->
                        <input type="radio" id="sns01" name="sms" value="0" title="예" checked="checked">
                        <label for="sns01">&nbsp;예</label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="sns02" name="sms" value="0" title="아니오" >
                        <label for="sns02">&nbsp;아니오</label>
                        <!-- (e)default radio code -->

                        <!-- (s)custom radio code -->
                        <div class="ctm-radio checked">
                            <input type="radio" id="smsY" name="smsYN" value="0" title="예" checked="checked">
                            <label for="smsY"><i></i>예</label>
                        </div>
                        <div class="ctm-radio">
                            <input type="radio" id="smsN" name="smsYN" value="0" title="아니오" >
                            <label for="smsN"><i></i>아니오</label>
                        </div>
                        <!-- (e)custom radio code -->

                    </pre>
                </div>
                <hr class="line"/>
                <div class="guide-type">
                    <h2 class="guide_tit">Checkbox type</h2>

                    <div class="description">
                        <ul>
                            <li>체크박스 버튼은 기본 스타일과 커스텀 디자인된 스타일 2가지를 제공한다.</li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="mb20">
                        <p class="sub-tit"><span>@ Checkbox type Preview</span></p>
                        <div class="preview">
                            <table class="guide_tb">
                                <colgroup>
                                    <col style="width:50%">
                                    <col style="width:50%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Default Checkbox type</th>
                                    <th>Custom Checkbox type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span class="dft-chk">
                                            <input type="checkbox" id="chk01">
                                            <label for="chk01">쇼핑</label>
                                        </span>
                                        <span class="dft-chk">
                                            <input type="checkbox" id="chk02" >
                                            <label for="chk02">도서</label>
                                        </span>
                                        <span class="dft-chk">
                                            <input type="checkbox" id="chk03" >
                                            <label for="chk03">여</label>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="ctm-check">
                                            <input type="checkbox" id="a" >
                                            <label for="a"><i></i>쇼핑</label>
                                        </span>
                                        <span class="ctm-check">
                                            <input type="checkbox" id="b">
                                            <label for="b"><i></i>도서</label>
                                        </span>
                                        <span class="ctm-check">
                                            <input type="checkbox" id="c">
                                            <label for="c"><i></i>여행</label>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p class="sub-tit"><span>@ HTML CODE</span></p>
                    <pre class="brush: html">
                        <!-- (s)default checkbox code -->
                        <span class="dft-chk">
                            <input type="checkbox" id="chk01">
                            <label for="chk01">쇼핑</label>
                        </span>
                        <span class="dft-chk">
                            <input type="checkbox" id="chk02" >
                            <label for="chk02">도서</label>
                        </span>
                        <span class="dft-chk">
                            <input type="checkbox" id="chk03" >
                            <label for="chk03">여</label>
                        </span>
                        <!-- (e)default checkbox code -->

                        <!-- (s)custom checkbox code -->
                       <span class="ctm-check">
                            <input type="checkbox" id="a" >
                            <label for="a"><i></i>쇼핑</label>
                        </span>
                        <span class="ctm-check">
                            <input type="checkbox" id="b">
                            <label for="b"><i></i>도서</label>
                        </span>
                        <span class="ctm-check">
                            <input type="checkbox" id="c">
                            <label for="c"><i></i>여행</label>
                        </span>
                        <!-- (e)custom checkbox code -->

                    </pre>
                </div>
                <hr class="line"/>
                <div class="guide-type">
                    <h2 class="guide_tit">Select type</h2>

                    <div class="description">
                        <ul>
                            <li>콤보박스는 기본 select와 script를 사용한 select, 그리고 list-type으로 구현된 셀렉트 스타일 3가지를 제공한다.</li>
                            <li>Custom ComboBox 는 $('****').uChSelect() 로 호출해 줍니다.</li>
                            <li>list-type 의 콤보박스 사용시 웹 접근성을 고려하여 h3 > a[href] 의 hash(#...) 값과 ul 의 id값을 동일하게 맵핑시켜줍니다.</li>
                        </ul>
                    </div>
                    <div class="mb20">
                        <p class="sub-tit"><span>@ Select type Preview</span></p>
                        <div class="preview">
                            <table class="guide_tb">
                                <colgroup>
                                    <col style="width:33.3%">
                                    <col style="width:33.3%">
                                    <col style="width:33.3%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Default ComboBox</th>
                                    <th>Custom ComboBox</th>
                                    <th>List type ComboBox</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <select class="" style="">
                                            <option value="http://www.ktpowertel.co.kr">캠퍼스 선택</option>
                                            <option value="http://www.ktlinkus.co.kr">강남</option>
                                            <option value="http://www.naver.com">홍대</option>
                                            <option value="http://www.daum.net">분당</option>
                                            <option>서울대 입구</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="cst-sel" style="">
                                            <option value="http://www.ktpowertel.co.kr">캠퍼스 선택</option>
                                            <option value="http://www.ktlinkus.co.kr">강남</option>
                                            <option value="http://www.naver.com">홍대</option>
                                            <option value="http://www.daum.net">분당</option>
                                            <option>서울대 입구</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="select-ui li-slt">
                                            <h3><a href="#select-list">Family Site</a></h3>
                                            <ul id="select-list">
                                                <li><a href="#none" title="새창 열림">네이버</a></li>
                                                <li><a href="#none" title="새창 열림">다음</a></li>
                                                <li><a href="#none" title="새창 열림">skB</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p class="sub-tit"><span>@ HTML CODE</span></p>
                    <pre class="brush: html">
                        <!-- (s)Default select code -->
                        <select class="***" style="">
                            <option value="http://www.ktpowertel.co.kr">캠퍼스 선택</option>
                            <option value="http://www.ktlinkus.co.kr">강남</option>
                            <option value="http://www.naver.com">홍대</option>
                            <option value="http://www.daum.net">분당</option>
                            <option>서울대 입구</option>
                        </select>
                        <!-- (e)Default select code -->

                        <!-- (s)Custom select code -->
                        <select class="***" style="">
                            <option value="http://www.ktpowertel.co.kr">캠퍼스 선택</option>
                            <option value="http://www.ktlinkus.co.kr">강남</option>
                            <option value="http://www.naver.com">홍대</option>
                            <option value="http://www.daum.net">분당</option>
                            <option>서울대 입구</option>
                        </select>
                        <!-- (e)Custom select code -->

                        <!-- (s)List-type select code -->
                        <div class="select-ui li-slt">
                            <h3><a href="#select-list">Family Site</a></h3>
                            <ul id="select-list">
                                <li><a href="#none" title="새창 열림">네이버</a></li>
                                <li><a href="#none" title="새창 열림">다음</a></li>
                                <li><a href="#none" title="새창 열림">skB</a></li>
                            </ul>
                        </div>
                        <!-- (e)List-type select code -->
                        /*
                         * 플러그인 기본값
                        $.fn.selectUi.defaults = {
                                showToTop: false, // list 위에서 보여질때 true, 디폴트는 아래로 나옴
                                arrow : true, // 화살표 활성화 (css class on 으로 설정)
                                duration: 400, // 슬라이드 속도 컨트롤
                                listDuration : 200, // 리스트 항목 클릭 후 사라질 때 속도 컨트롤
                                listItems :5, // 리스트 항목의 보여줄 갯수 설정
                                listWid : false, // 리스트 width 값이 클때 true로 설정 후 아래의 listWidVal 값으로 width 설정 (두가지 옵션은 셋트임)
                                listWidVal : 200
                            };
                        $('***').selectUi(); // 플러그인 호출
                        */
                    </pre>
                </div>
                <hr class="line"/>
                <div class="guide-type">
                    <h2 class="guide_tit">File-upload type</h2>
                    <div class="description">
                        <ul>
                            <li>파일 업로드 타입은 기본 파일업로드와 커스텀 디자인된 파일업로드 2가지를 제공합니다.</li>
                            <li>파일 업로드 넓이값은 인라인 스타일로 정의하거나 사용자 정의 클래스로 정의하여 사용합니다.</li>
                        </ul>
                    </div>
                    <div class="mb20">
                        <p class="sub-tit"><span>@ File-upload Preview</span></p>
                        <div class="preview">
                            <table class="guide_tb">
                                <colgroup>
                                    <col style="width:50%">
                                    <col style="width:50%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Default File-upload type</th>
                                    <th>Custom File-upload type</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="file" style="width: 250px"/>
                                    </td>
                                    <td>
                                        <span class="filetype">
                                            <input type="text" class="file-text"/>
                                            <span class="file-btn">찾아보기</span>
                                            <span class="file-select"><input type="file" class="input-file" size="3"></span>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p class="sub-tit"><span>@ HTML CODE</span></p>
                    <pre class="brush: html">
                        <!-- (s)default file-upload code -->
                        <input type="file" style="width: 250px"/>
                        <!-- (e)default radio code -->

                        <!-- (s)custom file-upload code -->
                        <span class="filetype">
                            <input type="text" class="file-text"/>
                            <span class="file-btn">찾아보기</span>
                            <span class="file-select"><input type="file" class="input-file" size="3"></span>
                        </span>
                        <!-- (e)custom radio code -->
                    </pre>
                </div>
            </div>
        </article>
    </section>
    <hr/>
    <footer>
        <div class="author">
        </div>
    </footer>
</div>

<style>

    /* radio default & custom */
    input[type="radio"] {}
    .ctm-radio { position:relative; display:inline-block; overflow:hidden ;vertical-align:middle; *display:inline; *zoom:1}
    .ctm-radio input { position:absolute; width:14px; height:14px; opacity:0; filter:alpha(opacity=0) }
    .ctm-radio label { display:inline-block; height:20px; padding-right:10px; font-size:12px; line-height:1.6em; line-height:19px\9}
    .ctm-radio label i { display:inline-block; float:left; width:14px; height:14px; margin:2px 5px 0 0; background:url('./img/radio_bg.gif') no-repeat 0 0; }
    .ctm-radio.checked label i {background-position:0 -14px}

    /* Checkbox default & custom  */
    .dft-chk { display: inline-block;}
    .dft-chk + .dft-chk { margin-left: 15px;}
    .ctm-check { position:relative; display:inline-block; overflow:hidden ;vertical-align:middle; *display:inline; *zoom:1}
    .ctm-check input { position:absolute; width:14px; height:14px; opacity:0; filter:alpha(opacity=0); }
    .ctm-check label { display:inline-block; height:20px; padding-right:10px; font-size:12px; line-height:1.6em; line-height:19px\9}
    .ctm-check label i { display:inline-block; float:left; width:14px; height:14px; margin:2px 5px 0 0; background:url('./img/chk_bg.gif') no-repeat 0 0; }
    .ctm-check.checked label i {background-position:0 -14px}

    /* Make custom select */
    .cmselw {display:inline-block;*display:inline;position:relative;*zoom:1;text-align:left;*vertical-align:middle}
    .cmselw .t-top {position:relative;height:20px;cursor:pointer;border:1px solid #cdd3d4;background-color:#ecefef;overflow:hidden}
    .cmselw .t-top .tit {padding:0 0 0 5px;line-height:20px;color:#79797a}
    .cmselw .t-top .arr {position:absolute;right:0;top:0;width:24px;height:20px;background:url('./img/blt_sell.gif') no-repeat 0 0;padding:0}
    .cmselw .a-lay {position:absolute;top:21px;border:1px solid #cdd3d4;background-color:#fafafa}
    .cmselw .a-lay .scroll {
        position:relative;
        max-height:130px;
        margin:0;
        overflow-x:hidden;
        overflow-y:auto;
        scrollbar-face-color:#fff;
        scrollbar-3dlight-color:#fff;
        scrollbar-shadow-color:#dad9d9;
        scrollbar-highlight-color:#dad9d9;
        scrollbar-darkshadow-color:#fff;
        scrollbar-track-color:#fff;
        scrollbar-arrow-color:#dad9d9;
    }
    .cmselw .a-lay ul {padding:0}
    .cmselw .a-lay ul li a {display:block;padding:0 5px;color:#79797a;line-height:22px}
    .cmselw .a-lay ul li a:hover {text-decoration:none;color:#fff;background-color:#cdd3d4}
    .cmselw select {margin-right:0}
    .cmseldisabled * { opacity:0.6; filter:alpha(opacity=60) }

    /* UL type select custom style */
    .select-ui {position:relative; width: 120px;}
    .select-ui h3 a {z-index:10;position:relative;display:block;width:120px;padding:5px 0 5px 10px;font-size:12px;font-weight:normal;
        line-height:1;color:#686c73;background:#fff url('./img/select_arr.png') no-repeat 95% 50%;border:1px solid #c8c8c8;}
    .select-ui h3 a.on { background: url('./img/select_arr2.png') no-repeat 95% 50%;}
    .select-ui h3 a:hover {text-decoration:none;color:#df2428}
    .select-ui ul {display: none; position:absolute;width:130px; max-height: 50px; overflow: hidden;overflow-y:scroll;left:0;padding:7px 0 7px;border:1px solid #c8c8c8;background:#fff;}
    .select-ui ul li {display:inline;float:left;width:100%;}
    .select-ui ul li a {display:block;padding:3px 10px 2px;color:#686c73;font-size:11px;line-height:1.37; }
    .select-ui ul li a:hover {color:#df2428;text-decoration:none;background:#eff5ff;}

    /* File-uloade type */
    .filetype { position:relative; display:inline-block; vertical-align:top; *margin-right:4px; }
    .filetype * { vertical-align: middle;}
    .filetype .file-text { position:relative; width:300px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
        display:inline-block; height:20px; background-color:#ecefef; margin:0; border:1px solid #cdd3d4; line-height:20px; z-index:10;}
    .filetype .file-select { position:absolute; top:0; right:0; width:80px; overflow:hidden; }
    .filetype .file-select .input-file { width:60px; filter:alpha(opacity=0); opacity:0; height:20px; }
    .filetype .file-text + .file-btn { display:inline-block; background-color:#cdd3d4; height:22px; line-height:22px; padding:0 15px;
        color:#fff !important; cursor:pointer; *margin-left:4px;}



</style>
<script>
    (function (global, $) {
        /**
         * --------------------------------
         * Custom input type radio
         * --------------------------------
         */

        $(runRadio);

        function runRadio() {
            var radioObj = CustomRadio();
        }

        function CustomRadio(el) {
            if(this === window) return new CustomRadio(el);

            this.defaultClass = null;
            this.$radioBox = null;
            this.chk = null;
            this.classCheck = null;
            this.init(el);
        }

        CustomRadio.prototype = {

            'init': function (el) {
                this.defaultClass = el || '.ctm-radio';
                this.classCheck = this.defaultClass.split('.')[1];
                this.$radioBox = $(this.defaultClass);
                this.chk = 'checked';
                this.initEvent();
            },

            'initEvent' : function () {
                var _self = this;
                this.$radioBox.on('change', 'input', function () {
                    _self.addClassRadio(this);
                })
            },
            
            'addClassRadio' : function (ipt) {
                var $input = $(ipt),
                    _self = this;
                if ($input.prop('checked')) $input.parent().addClass(_self.chk);

               this.removeClassRadio($input);
            },

            'removeClassRadio' : function (ipt) {
                var $siblings = ipt.parent().siblings(),
                    _self = this;
                $.each($siblings, function (idx, item) {
                    var _$siblings = $siblings.eq(idx);
                    if(_$siblings.hasClass(_self.chk)) _$siblings.removeClass(_self.chk);
                });
            }
        };

    })(window, window.jQuery);

    (function (global, $) {
        /**
         * --------------------------------
         * Custom input type checkbox
         * --------------------------------
         */
        $(ClassCheckBox);
        function ClassCheckBox() {
            var checkbox = CustomCheckbox();
        }
        function CustomCheckbox() {
            if (this === window) return new CustomCheckbox;

            this.checkbox = null;
            this.chk = null;
            console.log(111);
        }

        CustomCheckbox.prototype = {
            'init' : function () {
                
            }
        }


    })(window, window.jQuery);

    jQuery(function($){

        /* Checkbox  */
        var checkBox = $('.ctm-check');
        var addClassCheckBox = function($input){
            if ($input.prop('checked')){
                $input.parent().addClass('checked');
            } else {
                $input.parent().removeClass('checked');
            }
        };
        checkBox.on('change', 'input', function(){
            addClassCheckBox($(this));
        })

        /* File-upload */
        var $fileBox = $('.filetype');
        $fileBox.each(function(){
            var $fileUpload = $(this).find('.input-file'),
                    $fileText = $(this).find('.file-text');
            $fileUpload.on('change', function(){
                var fileName = $(this).val();
                $fileText.attr('disabled','disabled').val(fileName);
            })
        })

        /* UL select style */
        $.extend($.fn, {
            selectUi : function(opts){

                $.fn.selectUi.defaults = {
                    showToTop: false, // list 위에서 보여질때 true, 디폴트는 아래도 나옴
                    arrow : true, // 화살표 활성화 (css class on 으로 설정)
                    duration: 400, // 슬라이드 속도 컨트롤
                    listDuration : 200, // 리스트 항목 클릭 후 사라질 때 속도 컨트롤
                    listItems :5, // 리스트 항목의 보여줄 갯수 설정
                    listWid : false, // 리스트 width 값이 클때 true로 설정 후 아래의 listWidVal 값으로 width 설정 (두가지 옵션은 셋트임)
                    listWidVal : 200
                };

                return this.each(function(){

                    opts = $.extend( {}, $.fn.selectUi.defaults, opts || {});
                    var _self = $(this),
                        target = _self.find('h3 > a'),
                        list = _self.find('ul');

                    function listHide(drt) {
                        list.slideUp(drt)
                    }
                    function rmClass() {
                        if(opts.arrow) target.removeClass('on')
                    }
                    target.on('click', function(){
                        if(list.is(':hidden')) {
                            list.slideDown(opts.duration);
                            var liHeight = list.find('li a').innerHeight();
                            list.css({'max-height': (liHeight * opts.listItems) - 5 });
                            if(opts.arrow) {
                                $(this).addClass('on')
                            }
                        } else {
                            listHide(opts.duration);
                            rmClass();
                        }
                        return false;
                    })

                    list.on('click','li a', function(){
                        listHide(opts.listDuration);
                        var clkText = $(this).text();
                        target.text(clkText);
                        rmClass();
                    })
                    opts.showToTop ? list.css({bottom:23}) : list.css({top:23});
                    /*if(opts.showToTop) {
                        list.css({bottom:23})
                    } else {list.css({top:23})}*/

                    if(opts.listWid) list.css({width: opts.listWidVal});

                    /* 셀렉터 컴포넌트를 벗어났을 때 */
                    _self.on({
                        'mouseleave' : function() {
                            listHide(opts.duration);
                            rmClass();
                        }
                    })

                })
            }
        });
        $('.li-slt').selectUi();

        /* make select */
        $.fn.uChSelect = function(options){

            return this.each(function(){
                var S = $.extend({cName:'cmselw',onChange:null},options);
                var $select = $(this);
                var style = $select.attr('style');
                if(style != null){
                    style = style.replace("inline","");
                }
                var $wrap = $select.wrap('<div />').parent();
                $wrap.addClass('cmSelD '+ S.cName +' ' + $select.attr('className')).attr({'style':style})
                        .prepend('<div class="t-top"><span class="tit"></span><span class="arr"></span></div><div class="a-lay"><div class="scroll"><ul></ul></div></div>');
                $select.hide();

                var $list = $wrap.find('.a-lay').hide();
                var $scroll = $wrap.find('.scroll');

                var wid = $select.outerWidth(true) + 10;
                $wrap.css({width:wid}).bind('mouseleave',function(){
                    var $self = $(this);
                    $list.slideUp('fast',function(){ $self.css({zIndex:''});   });
                });
                $scroll.width(wid-2);
                if($scroll.height() >0 && $.browser.msie && $.browser.version==8) $scroll.width(wid-3).css('paddingRight','0.05em');

                $select.find('option').each(function(i){
                    var target =($(this).attr('target'))? 'target="'+$(this).attr('target') +'"' : '';
                    $list.find('ul').append($('<li><a href="#"'+target+' index="'+ i +'">'+ $(this).html() +'</a></li>'));
                });

                $list.find('a').click(function(){
                    $('a.selected', $wrap).removeClass('selected');
                    $(this).addClass('selected');
                    if ($select[0].selectedIndex != $(this).attr('index')){
                        $select[0].selectedIndex = $(this).attr('index');
                        $select[0].target = $(this).attr('target');
                        if($select[0].onchange) $select[0].onchange();
                        if(S.onChange) S.onChange();
                    }
                    $('.tit', $wrap).html($(this).text());
                    $list.hide();
                    return false;
                });

                $('a:eq('+ $select[0].selectedIndex +')', $list).trigger('click');

                $(".t-top", $wrap).click(function(){
                    $wrap.css({zIndex:9997});
                    if ($list.css('display')=='none'){ $('.cmSelD .A:visible').hide(); }


                    if($select.attr("disabled") != true){
                        $list.slideToggle('fast', function(){
                            var offSet = ($('a.selected', $list).offset().top - $list.find("ul").offset().top);
                            $scroll.animate({scrollTop: offSet});
                        });
                        $wrap.removeClass('cmseldisabled');
                    }else{
                        $wrap.addClass('cmseldisabled');

                    }
                    return false;
                })
            });
        };
        $('.cst-sel').uChSelect();

    });
</script>

</body>
</html>