<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="utf-8">
    <title>IA (Imformation Architecture)</title>
    <link rel="stylesheet" href="css/guide.css"/>
    <link type="text/css" rel="stylesheet" href="css/shCore.css"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="./js/jquery-1.10.2.min.js"></script>
    <script src="./js/guide.js"></script>
    <script src="./js/shCore.js"></script>
    <script src="./js/shBrushJScript.js"></script>
    <script src="./js/shBrushCss.js"></script>
    <script src="./js/shBrushXml.js"></script>
    <!--<script>
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>-->
</head>
<body>






            <div class="guide-tap">
            <ul>
            <li><a href="layout_.html" class="on"><span>Layout Structure</span></a></li>
            <li><a href="title_font_type.html" class=""><span>Title & Font Type</span></a></li>
            <li><a href="tab_type.html" class=""><span>Tab Type</span></a></li>
            <li><a href="button_type.html" class=""><span>Button Type</span></a></li>
            <li><a href="list_type.html" class=""><span>List type</span></a></li>
            <li><a href="table_type.html" class=""><span>Table Type</span></a></li>
            <li><a href="#" class=""><span>View Type</span></a></li>
            <li><a href="form_type.html" class=""><span>Form Type</span></a></li>
            <li><a href="popup_type.html" class=""><span>Pop-up Type</span></a></li>
            <li><a href="#" class=""><span>Scroll Type</span></a></li>
            <li><a href="etc_type.html" class=""><span>Etc Type</span></a></li>
            </ul>
            </div>



<style>

</style>

</body>
</html>