<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="utf-8">
    <title>IA (Imformation Architecture)</title>
    <link rel="stylesheet" href="css/guide.css"/>
    <link type="text/css" rel="stylesheet" href="css/shCore.css"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="./js/jquery-1.10.2.min.js"></script>
    <script src="./js/guide.js"></script>
    <script src="./js/shCore.js"></script>
    <script src="./js/shBrushJScript.js"></script>
    <script src="./js/shBrushCss.js"></script>
    <script src="./js/shBrushXml.js"></script>
    <!--<script>
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>-->
</head>
<body>
<a href="#wrap" class="skip">≫ &nbsp; 메뉴 건너 뛰기</a>
<header>
    <div id="header">
        <hgroup>
            <h1><span class="gd-bar"></span>Layout Structure</h1>
            <h2>Publishing</h2>
        </hgroup>
    </div>
</header>

<div id="wrap">
    <section>
        <h3>Guide Style</h3>
        <p class="listBtnArea"> <a href="./IA.html" class="on">Impormation Architeture</a></p>
    </section>
    <hr />

    <section class="guide-wrap">
        <article>
            <div class="guide-tap">
                <ul>
                    <li><a href="layout_.html" class="on"><span>Layout Structure</span></a></li>
                    <li><a href="title_font_type.html" class=""><span>Title & Font Type</span></a></li>
                    <li><a href="tab_type.html" class=""><span>Tab Type</span></a></li>
                    <li><a href="button_type.html" class=""><span>Button Type</span></a></li>
                    <li><a href="list_type.html" class=""><span>List type</span></a></li>
                    <li><a href="table_type.html" class=""><span>Table Type</span></a></li>
                    <li><a href="#" class=""><span>View Type</span></a></li>
                    <li><a href="form_type.html" class=""><span>Form Type</span></a></li>
                    <li><a href="popup_type.html" class=""><span>Pop-up Type</span></a></li>
                    <li><a href="#" class=""><span>Scroll Type</span></a></li>
                    <li><a href="etc_type.html" class=""><span>Etc Type</span></a></li>
                </ul>
            </div>
            <div class="guide-contents">
                <div class="guide-type">
                    <h2 class="guide_tit">테이블</h2>

                    <div class="description">
                        <ul>
                            <li>...</li>
                            <li>...</li>
                        </ul>
                    </div>
                    <div class="mb20">
                        <p class="sub-tit"><span>@ table type 3</span></p>
                        <div class="preview">
                            <div class="tbl-zone1">
                                <!-- (s)tbl-type3 -->

                                <!-- (e)tbl-type3 -->
                            </div>
                        </div>
                    </div>
                    <p class="sub-tit"><span>@ HTML CODE</span></p>
                    <pre class="brush: html">

                    </pre>
                </div>
                <hr class="line"/>

            </div>

        </article>
    </section>
    <hr />
    <footer>
        <div class="author">
        </div>
    </footer>
</div>
<style>

</style>

</body>
</html>